			<div class="col-xs-3 profile-right fixed-sidebar-right chat-profile-view" id="task_window">
							<div class="display-table profile-right-inner">
								<div class="table-row">
									<div class="table-body">
										<div class="table-content">
											<div class="chat-profile-img">
												<div class="edit-profile-img">
													<img class="avatar" src="{{user.avatar(128)}}" alt="">

												</div>
												<h3 class="user-name m-t-10 m-b-0">{{user.firstName}} {{user.lastName}}</h3>


											</div>
											<div class="chat-profile-info">
												<ul class="user-det-list">
													<li>
														<span>Username:</span>
														<span class="pull-right text-muted">{{user.username}}</span>
													</li>
													<li>
														<span>DOB:</span>
														<span class="pull-right text-muted">{{user.DOB}}</span>
													</li>
													<li>
														<span>Email:</span>
														<span class="pull-right text-muted">{{user.email}}</span>
													</li>
                                                    	<li>
														<span>Gender:</span>
                                                            {% if user.gender == True %}
														<span class="pull-right text-muted">Female</span>
                                                            {% elif user.gender == False %}
                                                            <span class="pull-right text-muted">Male</span>
                                                            {% endif %}
													</li>

												</ul>
											</div>

										</div>
									</div>
								</div>
							</div>
						</div>
